.form-group {
    padding: 10% 10% 3% 10%;
    text-align: center;
}

button.btn.btn-primary {
    margin-top: 25px;
}
h2.title:after {
    content: '';
    background: #2196f3;
    display: table;
    width: 50px;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translate(-87%, -50%);
    margin: 10px;
}

h2.title {
    margin-bottom: 50px;
    position: relative;
}
.result {
    font-size: 18px;
    padding: 0% 10% 10% 10%;
    font-family: sans-serif;
}
b{
    color: #2196f3;
    font-size: 22px;
}